:root {
	--primary-font: 'Cutive Mono', monospace;

	--white: #fff;
	--black: #16161d;
	--selected: #000099;
	--danger: #ff6666;
}

* {
	box-sizing: border-box;
}

body {
	font-family: var(--primary-font);
	font-size: 16px;
	background: var(--black);
	color: var(--white);
}

main {
	padding: 0.5rem;
}

h1 {
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
}

ul {
	list-style-type: none;
	padding: 0;
}

form label {
	display: block;
	margin-bottom: 0.5rem;
}

button {
	font-family: var(--primary-font);
	background: var(--black);
	color: var(--white);
	outline: none;
	border: 1px solid var(--white);
}

button:hover,
button:focus {
	border-color: var(--black);
	cursor: pointer;
	background: var(--white);
	color: var(--black);
}

input[type=text] {
	background: var(--black);
	color: var(--white);
	outline: none;
	border: 1px solid var(--white);
}

.input-group {
	margin-bottom: 0.5rem;
}

.planet {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.planet .planet-details {
	margin-right: 1rem;
}

.planet .planet-details .planet-name {
	font-size: 1.125rem;
	font-weight: 700;
}

.player-info ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.player-info ul li {
	display: block;
	margin-right: 1rem;
}

.player-info .low-fuel {
	color: var(--danger);
}

.solar-systems .solar-system {
	display: block;
	border: 1px solid var(--white);
	margin-bottom: 1rem;
	padding: 0.5rem;
}

.solar-systems .solar-system.active {
	font-weight: bold;
	font-size: 1.125rem;
	border-color: var(--selected);
	border-width: 2px;
}

.solar-systems .solar-system .info {
	font-size: 0.8rem;
}

.solar-systems .solar-system .info .connected-system {
	padding-right: 0.5rem;
}